#app {
  h1 {
    color: chartreuse;
  }
}

//game settings modal

.game-settings{
  display: grid!important;
  grid-teamplate-rows: repeat(4, 1fr)!important;
  grid-template-columns: repeat(2, 1fr)!important;
  grid-gap: 25px;
}

.game-type-title{
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 1;
  grid-column-end: 3;
  text-align: center;
}

.game-title-dropdown{
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
}

.setting-description{
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
}

.game-difficulty-title{
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 3;
  text-align: center;
}

.game-difficulty-setting{
  grid-row-start: 4;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 3;
}


//map component game controls styling
div.game-controls{
  display: grid;
  grid-template-columns: 6fr 2fr 2fr;
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 15px;
  width: 100vw;
  height: 100vh;

    .show-missing-countries-button{
      grid-column: 1;
      grid-row: 2;
      z-index: 4;
    }

    .game-title{
      grid-column: 1;
      grid-row: 1;
      z-index: 4;
    }

    div#map{
      grid-column: 1/4;
      grid-row: 1/11;
      z-index: 0;
    }

    input.input-entry, input.input-entry:focus{
      grid-column: 1;
      grid-row: 10;
      font-size: 3vw;
      font-family: 'helvetica';
      font-weight: bolder;
      z-index: 4;
      color: black;
      background-color: white;
      border: 3px solid darkslategrey;
      border-radius: 5px;
      margin: 10px;
    }

    .quit-game-btn{
      margin: 10px;
      grid-column: 2/3;
      grid-row: 10;
      z-index: 4;
      font-size: 30px;
      background-color: darkorange;
      color: white;
      &:hover{
        border: 3px solid darkorange;
        border-radius: 5px;
        color: darkorange;
        background-color: firebrick;
        padding: 0;
      }
    }

    .page-header{
      grid-column: 1;
      grid-row: 1;
      z-index: 4;
    }

    .countries-answered{
      grid-column: 3/4;
      grid-row: 1;
      z-index: 4;
    }

    .time-remaining-title{
      grid-column: 3/4;
      grid-row: 9;
      z-index: 4;
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      h1 {
        grid-row: 2;
      }
    }

    .time-remaining{
      grid-column: 3/4;
      grid-row: 10;
      z-index: 4;
      font-size: 4vw;
      margin: 0;
      align-self:center;
    }
}

//games list component styling

.games-list{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-template-areas: 'game game game game'
}

.ui.card{
  align-self: center;
  justify-self:center;
}

//login styling

form.ui.form{
  display: grid;
  grid-template-columns: 10fr 1fr 1fr 10fr;
  grid-template-rows: repeat(3, 1fr);
  margin-left: 150px;
  margin-right: 150px;
}

div.field{
  grid-column: 1;
}

div.divider{
  grid-column: 2;
  grid-row: 1/4;
  border-right: 1px solid black;
}

a.ui.button.register-btn{
  grid-area: 1/4/1/4;
  margin: 20px 20px 20px 0;
}
button.google-btn{
  grid-area: 2/4/2/4;
  margin: 20px 20px 20px 0;
  background: #DD4B39;
  color: white;
  border-radius: 5px;
  &:hover{
    background: firebrick;
    cursor: pointer;
  }
}
a.ui.button.anonymous-btn{
  grid-area: 3/4/3/4;
  margin: 20px 20px 20px 0;
}

button.ui.button.login-btn{
  grid-area:3/1/3/1;
  margin: 20px
}

















// color styling for placeholders in input fields
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    background: -webkit-linear-gradient(aqua, chartreuse);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
::-moz-placeholder { /* Firefox 19+ */
    background: -webkit-linear-gradient(aqua, chartreuse);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
:-ms-input-placeholder { /* IE 10+ */
    background: -webkit-linear-gradient(aqua, chartreuse);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
:-moz-placeholder { /* Firefox 18- */
    background: -webkit-linear-gradient(aqua, chartreuse);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



// answer-input, quit-game-btn, page-header, countries-answered, time-elapsed
