@import url('https://fonts.googleapis.com/css?family=Allerta|Ubuntu+Mono:700');

li {
  list-style: none;
}

div.ui.menu{
  box-shadow: none;
  border: none;
}

img.ui.image.geogopher-navbar-logo{
  position: absolute;
  top: 55px;
  left: 55px;
}

.ui.menu .item:before{
  background: rgba(0,0,0,0);
}

.ui.menu a{
    color: black;
    font-size: 1.5em;
    font-family: "Ubuntu Mono";
    border: 6px solid white;
    padding: 3px 5px 3px 5px;
    &:hover{
      border: 5px solid #EC0524;
      padding: 3px 6px 3px 6px;

    }
}

//games list AKA home page component styling
.home-page-container {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas: ".. gap             .."
                       ".. splash         .."
                       ".. countriestitle .."
                       ".. countries      .."
                       ".. capitalstitle  .."
                       ".. capitals       ..";
  max-width: 1300px;
  margin: auto;

}

.gap{
  grid-area: gap;
  height:100px;
}

.splash {
  margin: 80px 0 80px 0;
  grid-area: splash;
  text-align: center;
}

// .games-list-splash{
//
// }

.countries-title{
  grid-area: countriestitle;
  padding: 20px;
  border-bottom: 5px solid #EC0524;
  margin-bottom: 20px;
  h1{
    font-family: "Ubuntu Mono";
    font-size: 3em;
  }
  h3{
    font-family: "Lato";
    font-weight: lighter;
    margin: 0!important;
  }
}

.countries-list{
  grid-area: countries;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  .ui.card:first-child{
    margin-top: 1em;
  }
}

.capitals-title{
  grid-area: capitalstitle;
  padding: 20px;
  border-bottom: 5px solid #EC0524;
  margin-bottom: 20px;
  h1{
    font-family: "Ubuntu Mono";
    font-size: 3em;
  }
  h3{
    font-family: "Lato";
    font-weight: lighter;
    margin: 0!important;
  }
}

.capitals-list{
  grid-area: capitals;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  .ui.card:first-child{
    margin-top: 1em;
  }
}

//new styling
.game-thumb {
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 20px;
  border: 1px solid whitesmoke;
  // border-radius: 5px;
  transition: box-shadow .2s ease-in-out, border .2s ease-in-out;
  &:hover{
    box-shadow: 5px 10px 20px -10px darkslategrey;
    // border: none;
    cursor: pointer;
  }

}

.game-thumb > header {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 80% 0% 2% 2%;
  color: white;
  background:
      linear-gradient(
      to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 50%,  rgba(50, 50, 50, .6)
      );
    h1 {
      font-family: "Lato";
      text-shadow: 0 1px 0 black;
    }

}

.game-thumb > div {
  height: 100%;
}


//game type and difficulty selection steps at top of Modal

.ui.steps{

  line-height: inherit;
  border: none;

  .step.active {

    background-color: white;

    .title{
      color: black;
    }

  }

  .active.step:after{

    background-color: white;
  }

  .completed.step{
    border: none;
    line-height: none;
  }

  .completed.step:after{

    background-color: white;
  }

}

.ui.ordered.steps .step.active:before, .ui.steps .active.step .icon, .ui.ordered.steps .step.completed:before, .ui.steps .step.completed>.icon:before {
  color: #EC0524;
}

.ui.attached.steps{
  width: calc(100% - 2px)!important;
  margin: 0;
}

// game type select Modal

.ui.modal>.content>.description.game-type-select{
  display: grid;
  grid-template-rows: 2fr 2fr 2fr 10fr 2fr 2fr 2fr;
  grid-template-columns: 1fr 4fr 4fr 4fr 1fr;
  grid-template-areas: " ..  ..            ..            ..          .."
                       " ..  typetitle     typetitle     typetitle   .."
                       " ..  ..            ..            ..          .."
                       " ..  cdn           rs            geo         .."
                       " ..  ..            ..            ..          .."
                       " ..  ..            ..            ..          .."
                       " bgt  bgt           ..            ..          ..";

  max-height: 500px;
  grid-gap: 20px;
}

button.ui.animated.button.go-back-gt-btn{
  grid-area: bgt;
  background-color: white;
  font-size: 1.25em;
  justify-self: left;
  color: black;
  border-radius: 0;
  font-family: "Ubuntu Mono";
  transition: background-color .5s ease-in-out;

  .visible.content{
    margin-top: -0.5em;
  }

  &:hover{
    background-color: whitesmoke;
    border-radius: 20px;
  }

}


.game-type-title{
  grid-area: typetitle;
  text-align: center;
  font-size: 4em;
  font-family: "Ubuntu Mono";
  font-weight: 700;
}

.ui.small.fade.reveal.select-countdown{
  grid-area: cdn;
  justify-self: center;
  width: 100%;

}

.ui.small.fade.reveal.select-random-select{
  grid-area: rs;
  justify-self: center;
  width: 100%;

}

.ui.small.fade.reveal.select-geoclick{
  grid-area: geo;
  justify-self: center;
  width: 100%;

}

// game difficulty select modal

.ui.modal>.content>.description.game-difficulty-select{
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns:  1fr 10fr 1fr 2fr 2fr 2fr 2fr 2fr 1fr;
  grid-gap: 20px;
  max-height: 500px;

}

.game-difficulty-title{
  grid-area: 2/1/2/10;
  text-align: center;
  font-size: 4em;
  font-family: "Ubuntu Mono";
  font-weight: 700;
}

button.ui.animated.button.go-back-gd-btn{
  grid-area: 10/1/10/3;
  background-color: white;
  font-size: 1.25em;
  justify-self: left;
  color: black;
  border-radius: 0;
  font-family: "Ubuntu Mono";
  transition: background-color .5s ease-in-out;

  .visible.content{
    margin-top: -0.5em;
  }

  &:hover{
    background-color: whitesmoke;
    border-radius: 20px;
  }

}

.ui.button.qwk-select{
  // grid-area: qwk;
  grid-area: 4/2/4/3;
  background-color: white;
  color: #6699cc;
  border: 1px solid #6699cc;
  font-size: 1.25em;
  padding: 2%;
  transition: padding .2s;
  &:hover{
    background-color: #6699cc;
    color: white;
    border: 4px solid #6699cc;
    padding-bottom: 7%;
  }
  // margin:1%;
}

.ui.button.easy-select{
  grid-area: 5/2/5/3;
  background-color: white;
  color: #008000;
  border: 1px solid #008000;
  font-size: 1.25em;
  padding: 2%;
  transition: padding .2s;
  &:hover{
    background-color: #008000;
    color: white;
    border: 4px solid #008000;
    padding-bottom: 7%;
  }
  // margin:1%;
}

.ui.button.med-select{
  grid-area: 6/2/6/3;
  background-color: white;
  color: #c57b26;
  border: 1px solid #c57b26;
  font-size: 1.25em;
  padding: 2%;
  transition: padding .2s;
  &:hover{
    background-color: #c57b26;
    color: white;
    border: 4px solid #c57b26;
    padding-bottom: 7%;
  }
  // margin:1%;
}

.ui.button.hard-select{
  grid-area: 7/2/7/3;
  background-color: white;
  color: #EC0524;
  border: 1px solid #EC0524;
  font-size: 1.25em;
  padding: 2%;
  transition: padding .2s;
  &:hover{
    background-color: #EC0524;
    color: white;
    border: 4px solid #EC0524;
    padding-bottom: 7%;
  }
  // margin:1%;
}

.time-display{

  grid-area: 3/4/7/9;
  margin: 5%;
  font-size: 8em;
  padding-top: 15%;
  text-align: center;
}

// game-start select Modal

.ui.modal>.content>.description.start-game-modal{
  display: grid;
  grid-template-rows: 2fr 2fr 2fr 10fr 2fr 2fr 2fr;
  grid-template-columns: 1fr 4fr 4fr 4fr 1fr;
  max-height: 500px;
}

.get-ready{
  grid-area: 1/1/1/6;
  text-align: center;
  font-size: 4em;
  font-family: "Ubuntu Mono";
  font-weight: 700;
}

.ui.button.dont-play{
  grid-area: 6/1/6/2;
  background-color: white;
  font-size: 1.25em;
  justify-self: left;
  color: black;
  border-radius: 0;
  font-family: "Ubuntu Mono";
  transition: background-color .5s ease-in-out;

  .visible.content{
    margin-top: -0.5em;
  }

  &:hover{
    background-color: whitesmoke;
    border-radius: 20px;
  }

}

div.play-now{
  grid-area: 4/2/4/5;
  text-align: center;
  height: 100%;
  z-index: 10;
  img:hover{
    cursor: pointer;
  }
}

div.play-now-bg{
  grid-area: 4/2/4/5;
  text-align: center;
  height: 100%;
  z-index: 5;
  img:hover{
    cursor: pointer;
  }
}

.ui.move.reveal.select-geoclick{
  grid-area: geo;
  justify-self: center;
}
//explore map styling

div.explore-container{
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-areas: ".. ..      .."
                       ".. ..      .."
                       ".. ..      ..";
  width: 99vw;
  height: 95vh;

  .explore-map#explore-map{
    grid-area: 1/1/4/4;
    z-index: 0;
  }
}



//map styling

div.game-container{
  display: grid;
  max-width: 100vw;
  max-height: 95vh;
  grid-template-areas: "gregion    gtype      gdifficulty"
                       "gcontrols  gcontrols  gcontrols"
                       "ggap       ggap       ggap";

  @media screen and (max-width: 1299px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 24fr 1fr;
  }

  @media screen and (min-width: 1300px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 60fr 1fr;
  }
}

div.maps#map{
  grid-area: 1/1/4/4;
  z-index: 0;
}

div.game-region{
  background-color: rgba(0,0,0,.4);
  color: white;
  font-weight: bolder;
  grid-area: gregion;
  z-index: 4;
  text-align: center;
}

div.game-type{
  background-color: rgba(0,0,0,.4);
  color: white;
  font-weight: bolder;
  grid-area: gtype;
  z-index: 4;
  text-align: center;
}

div.game-difficulty{
  background-color: rgba(0,0,0,.4);
  color: white;
  font-weight: bolder;
  grid-area: gdifficulty;
  z-index: 4;
  text-align: center;
}

//map component game controls styling
div.game-controls{
    grid-area: gcontrols;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: ".. ..       ..       ..        ..        .."
                         ".. timehead timehead scorehead scorehead .."
                         ".. timedisp timedisp scoredisp scoredisp .."
                         ".. ..       ..       ..        ..        .."
                         ".. hintdisp hintdisp hintdisp  hintdisp  .."
                         ".. inputent inputent inputent  inputent  .."
                         ".. hint     advance  ..        quit      .."
                         ".. ..       ..       ..        ..        ..";

    @media screen and (max-width: 1299px) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 4fr 3fr 54fr 4fr 4fr 3fr 5fr;
      height: 85vh;
    }

    @media screen and (min-width: 1300px) {
      grid-template-columns: 4fr 1fr 1fr 1fr 1fr 4fr;
      grid-template-rows: 1fr 4fr 3fr 54fr 4fr 4fr 3fr 5fr;
      height: 92vh;
    }
}

.hint-display{
  grid-area: hintdisp;
  z-index: 4;
  text-align: center;
  padding: 10px;
  font-size: 2em;
  color: 	#EC0524;
  background: rgba(255,255,255,.5);
  box-shadow: 0px 0px 40px white;
  border-radius: 20px;
}

.time-remaining-title{
  grid-area: timehead;
  color: black;
  z-index: 4;
  font-size: 1.5em;
  align-self: center;
  justify-self: center;
  padding-right: 20px;
  text-decoration: underline;
}

.polygon-score-title{
  grid-area: scorehead;
  color: black;
  z-index: 4;
  font-size: 1.5em;
  align-self: center;
  justify-self: center;
  padding-left: 20px;
  text-decoration: underline;
}

.time-remaining{
  grid-area: timedisp;
  color: black;
  z-index: 4;
  font-size: 4em;
  font-weight: bolder;
  align-self: center;
  justify-self: center;
  padding: 5px 20px 0 0;
}

.polygon-score{
  grid-area: scoredisp;
  color: black;
  z-index: 4;
  font-size: 4em;
  font-weight: bolder;
  align-self: center;
  justify-self: center;
  padding: 5px 0 0 20px;
}

input.entry-display, input.entry-display:focus, .entry-display, {
  grid-area: inputent;
  font-family: 'helvetica';
  font-weight: bolder;
  font-size: 3em;
  z-index: 4;
  color: black;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 4px;
  box-shadow: 0px 10px 20px -10px darkslategrey;
  padding-left: 20px;
  line-height: 1;
}

div.geoClick-display{
  grid-area:inputent;
  font-family: 'helvetica';
  font-weight: bolder;
  font-size: 3em;
  padding: 20px;
  text-align: center;
  z-index: 4;
  color: black;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 4px;
  box-shadow: 0px 10px 20px -10px darkslategrey;
  padding-left: 20px;
  line-height: 1;
}

button.ui.button.hint-btn{
  grid-area: hint;
  z-index: 4;
  font-size: 1.2em;
  background-color: #8AC84A;
  padding: 20px 20px 30px 20px;
  letter-spacing: 2px;
  font-weight: lighter;
  color: white;
  border: 1px solid lightgrey;
  border-radius: 4px;
  box-shadow: 0px 10px 20px -10px darkslategrey;
  &:hover{
    background-color: #669933;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
  }
}

button.ui.button.advance-btn{
  grid-area: advance;
  z-index: 4;
  font-size: 1.2em;
  background-color: #6A99CC;
  padding: 20px 20px 30px 20px;
  letter-spacing: 2px;
  font-weight: lighter;
  color: white;
  border: 1px solid lightgrey;
  border-radius: 4px;
  box-shadow: 0px 10px 20px -10px darkslategrey;
  &:hover{
    background-color: #336699;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
  }
}

button.ui.button.quit-game-btn{
  grid-area: quit;
  z-index: 4;
  font-size: 1.2em;
  background-color: #ec0524;
  padding: 20px 20px 30px 20px;
  letter-spacing: 2px;
  font-weight: lighter;
  color: white;
  border: 1px solid lightgrey;
  border-radius: 4px;
  box-shadow: 0px 10px 20px -10px darkslategrey;
  margin-right: 0;
  margin-left: 2em;
  &:hover{
    background-color: #CC3333;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
  }
}

.login-page-container{
  display: grid;
  max-width: 100vw;
  max-height: 95vh;
  grid-template-areas: "..    gap              .."
                       "..    loginwidget      ..";
      div.gap{
        grid-area: gap;
        height: 300px;
      }
      @media screen and (max-width: 1200px) {
        grid-template-columns: 1fr 10fr 1fr;
      }

      @media screen and (min-width: 1201px) {
        grid-template-columns: 1fr 2fr 1fr;
      }

}


//login styling
.login-widget {
  grid-area: loginwidget;

    form.ui.form{
      width: 100%;
      display: grid;
      grid-template-columns: 10fr 1fr 1fr 10fr;
      grid-template-rows: repeat(3, 1fr);
    }

    div.field{
      grid-column: 1;
    }

    div.divider{
      grid-column: 2;
      grid-row: 1/4;
      border-right: 1px solid black;
    }

    a.ui.button.register-btn{
      grid-area: 1/4/1/4;
      margin: 20px 20px 20px 0;
    }
    button.google-btn{
      grid-area: 2/4/2/4;
      margin: 20px 20px 20px 0;
      background: #DD4B39;
      color: white;
      border-radius: 5px;
      &:hover{
        background: firebrick;
        cursor: pointer;
      }
    }
    button.ui.button.anonymous-btn{
      grid-area: 3/4/3/4;
      margin: 20px 20px 20px 0;
    }

    button.ui.button.login-btn{
      grid-area:3/1/3/1;
      margin: 20px
    }
}

//gameOver component

.game-over-score{
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 4fr 1fr;
  grid-gap: 20px;
  grid-template-areas:
    '.. ..             ..              ..           ..'
    '.. gotitle        gotitle         gotitle      ..'
    '.. ..             ..              ..           ..'
    '.. stats          stats           stats           ..'
    '.. ..             ..              ..           ..'
    '.. btns           btns            btns         ..'
    // '.. ..             ..              ..           ..'
    // '.. score          hints           time         ..'
    '.. ..             ..              ..           ..'
    '.. utitle         utitle          utitle       ..'
    '.. unanswered     unanswered      unanswered   ..'
    '.. ..             ..              ..           ..'
    '.. atitle         atitle          atitle       ..'
    '.. answered       answered        answered     ..'
    '.. ..             ..              ..           ..'
    '.. stitle         stitle          stitle       ..'
    '.. skipped        skipped         skipped      ..'
    '.. ..             ..              ..           ..';
}

.go-title{
  grid-area: gotitle;
  text-align: center;
  font-size: 4em;
  font-family: "Ubuntu Mono";
  font-weight: 700;
}

.go-stats{
  grid-area: stats;
  display: grid;
  grid-template-columns: 10fr 1fr 10fr;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: "goimg .. game      "
                       "goimg .. type      "
                       "goimg .. difficulty"
                       "goimg .. score     "
                       "goimg .. hints     "
                       "goimg .. time      ";
  max-height: 400px;
}

.go-img{
  grid-area: goimg;
}

.go-game-selected{
  grid-area: game;
  text-align: center;
  font-family: "Ubuntu Mono";
  font-size: 2em;

}

.go-game-type{
  grid-area: type;
  font-size: 1.5em;
  padding-top: 5%;
}

.go-game-difficulty{
  grid-area: difficulty;
  font-size: 1.5em;
  padding-top: 5%;
}


.go-polygons-score{
  grid-area: score;
  font-size: 1.5em;
  padding-top: 5%;
}

.go-hints-used{
  grid-area: hints;
  font-size: 1.5em;
  padding-top: 5%;
}

.go-time-score{
  grid-area: time;
  font-size: 1.5em;
  padding-top: 5%;
}

.go-next-actions{
  grid-area: btns;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "pa  pdg"
                       "scg shs";
  grid-gap: 15px;
}

button.play-different-game{
  grid-area: pdg;
  background-color: white;
  color: #6699cc;
  border: 5px solid #6699cc;
  font-size: 1.25em;
  font-weight: bold;
  padding: 2%;
  transition: background-color .3s ease-in-out, box-shadow .4s ease-in-out, color .3s ease-in-out;
  box-shadow: none;
  &:hover{
    background-color: #6699cc;
    color: white;
    box-shadow: 5px 10px 20px -10px darkslategrey;
    cursor: pointer;
  }
}

button.play-again{
  grid-area: pa;
  background-color: white;
  color: #008000;
  border: 5px solid #008000;
  font-size: 1.25em;
  font-weight: bold;
  padding: 2%;
  transition: background-color .3s ease-in-out, box-shadow .4s ease-in-out, color .3s ease-in-out;
  box-shadow: none;
  &:hover{
    background-color: #008000;
    color: white;
    box-shadow: 5px 10px 20px -10px darkslategrey;
    cursor: pointer;
  }
}

button.study-current-game{
  grid-area: scg;
  background-color: white;
  color: #c57b26;
  border: 5px solid #c57b26;
  font-size: 1.25em;
  font-weight: bold;
  padding: 2%;
  transition: background-color .3s ease-in-out, box-shadow .4s ease-in-out, color .3s ease-in-out;
  box-shadow: none;
  &:hover{
    background-color: #c57b26;
    color: white;
    box-shadow: 5px 10px 20px -10px darkslategrey;
    cursor: pointer;
  }
}

button.see-high-scores{
  grid-area: shs;
  background-color: white;
  color: #EC0524;
  border: 5px solid #EC0524;
  font-size: 1.25em;
  font-weight: bold;
  padding: 2%;
  transition: background-color .3s ease-in-out, box-shadow .4s ease-in-out, color .3s ease-in-out;
  box-shadow: none;
  &:hover{
    background-color: #EC0524;
    color: white;
    box-shadow: 5px 10px 20px -10px darkslategrey;
    cursor: pointer;
  }
}


.go-polygons-unanswered-title{
  grid-area: utitle;
  font-size: 2.5em;
  font-family: "Ubuntu Mono";
  font-weight: 700;
  border-bottom: 5px solid #EC0524;
}

.go-polygons-unanswered{
  grid-area: unanswered;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
    div{
      display: list-item;
      list-style-type: disc;
      list-style-position: inside;
      font-size: 1.4em;
      padding-left: 1.5em;
      text-indent: -1.5em;
    }
}

.go-polygons-answered-title{
  grid-area: atitle;
  font-size: 2.5em;
  font-family: "Ubuntu Mono";
  font-weight: 700;
  border-bottom: 5px solid #008000;
}

.go-polygons-answered{
  grid-area: answered;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
    div{
      display: list-item;
      list-style-type: disc;
      list-style-position: inside;
      font-size: 1.4em;
      padding-left: 1.5em;
      text-indent: -1.5em;
    }
}


.go-polygons-skipped{
  grid-area: skipped;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
    div{
      display: list-item;
      list-style-type: disc;
      list-style-position: inside;
      font-size: 1.4em;
      padding-left: 1.5em;
      text-indent: -1.5em;
    }
}

.go-polygons-skipped-title{
  grid-area: stitle;
  font-size: 2.5em;
  font-family: "Ubuntu Mono";
  font-weight: 700;
  border-bottom: 5px solid #6699cc;
}

.polygon-info-window {
  color: black;
  font-size: 30px;
}

.polygon-explore-window {
  font-size: 2em;
  padding: 5px;
  line-height: 2;
  strong {
    font-family: "Ubuntu Mono";
    border-bottom: 2px solid #EC0524;
  }

}

.loader:empty {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

